{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block title %}
Coffee & Wifi
{% endblock %}

{% block content %}
<div class="contain">
    <h1 class="coffee"><img src="static/images/coffee.png" alt="coffee" width="50px">Coffee & Wifi</h1>
    <p class="para">Want to work in a cafe but need power & wifi?</p>
    <hr>
    <a href="{{ url_for('cafes')}}" class="btn btn-primary">Show me</a>
</div>
{% endblock %}


